.main {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .hide {
    display: none !important;
  }
  .icon {
    img {
      display: block;
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
  }
  .title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    span {
      font-size: 20px;
      font-weight: 600;
      color: white;
    }
  }
}
